<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>雪山飞狐</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link href="../static/css/basic.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>

  <header id="header">
  	<nav id="menu">
  		<ul>
  			<li class="active"><a href="/">Homepage</a></li>
  			<li><a href="/about">About</a></li>
            <li><a href="/showsignup">Sign Up</a></li>
  			<li><a href="/showsignin">Sign In</a></li>
  		</ul>
  	</nav>
  </header>
  <!-- end #menu -->


  <article>

  	<div id="logo">
  		<h1><a href="#">雪山飞狐</a></h1>
  	</div>

    <div id="page">
      <div id="sidebar">
        <ul>
          <li>
            <h2>Introduction</h2>
            <div id="bg1">
              <div id="bg2">
                <p>python</p>
              </div>
            </div>
          </li>
          <li>
            <h2>Tag of Blog</h2>
            <div id="bg1">
              <div id="bg2">
                <ul>
                  <li><a href="#">Python</a></li>
                  <li><a href="#">Flask</a></li>
                  <li><a href="#">Mysql</a></li>
                  <li><a href="#">Php</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <h2>Mostly Visited</h2>
            <div id="bg1">
              <div id="bg2">
                <ul>
                  <li><a href="#">Python</a></li>
                  <li><a href="#">Flask</a></li>
                  <li><a href="#">Mysql</a></li>
                  <li><a href="#">Php</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- end #sidebar -->

      <div id="content">
            <div class="post">
                <p class="meta"><span class="date">Sunday, August 26, 2011</span> 7:27 AM Posted by <a href="#">Someone</a></p>
                <h2 class="title"><a href="#">Welcome to Black Coffee </a></h2>
                <div class="entry">
                    <p></p>
                    <p></p>
                </div>
                <div><a href="#" class="links">View Full Story</a></div>
            </div>
            <div class="post">
                <p class="meta"><span class="date">Sunday, August 26, 2011</span> 7:27 AM Posted by <a href="#">Someone</a></p>
                <h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
                <div class="entry">
                    <p></p>
                </div>
                <div><a href="#" class="links">View Full Story</a></div>
            </div>
            <div class="post">
                <p class="meta"><span class="date">Sunday, August 26, 2011</span> 7:27 AM Posted by <a href="#">Someone</a></p>
                <h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
                <div class="entry">
                    <p> </p>
                </div>
                <div><a href="#" class="links">View Full Story</a></div>
            </div>
        </div>
      <!-- end #content -->

    </div>
    <!-- end #page -->
  </article>

  <footer>
    <div id="footer-bgcontent">
    	<div id="footer">
    		<p>&copy; Untitled. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
    	</div>
    	<!-- end #footer -->
    </div>
  </footer>
</body>
</html>
